*{
    margin: 0px;
}

/* 13. Totally Triangle */

.totallyTriangle__parent{
    height:300px;
    width:400px;
    background:#0B2429;
    position: relative;
}

.totallyTriangle__parent > div {
    width: 0;
    height: 0;
    background: transparent;
    border:70px solid #F3AC3C;
    border-bottom-color:transparent;
    border-right-color:transparent;
  }

/* 14. Web Maker Logo */

.webMakerLogo__parent{
    height:300px;
    width:400px;
    background:#F2F2B6;
    position: relative;
}

.webMakerLogo__parent > div {
    position:absolute;
    width: 0;
    height: 0;
    background:transparent;
} 
.webMakerLogo__redOne{
    top:85px;
    left:80px;
    border:75px solid transparent;
    border-top:130px solid #FD4602;
  }

  .webMakerLogo__orangeOne{
    top:85px;
    left:60px;
    border:75px solid transparent;
    border-top:130px solid  #FF6D00;
  }

  
     .webMakerLogo__redTwo{
    top:10px;
    left:170px;
    border:75px solid transparent;
    border-bottom:130px solid #FD4602;
  }
  
       .webMakerLogo__orangeTwo{
    top:10px;
    left:190px;
    border:75px solid transparent;
    border-bottom:130px solid #FF6D00;
   }

   /* 15. Overlap */

   .overlap__parent{
    height:300px;
    width:400px;
    background:#09042A;
    position: relative;
}

   .overlap__one{
    position:absolute;
    top:75px;
    left:75px;
    height:150px;
    width:150px;
    background:#7B3F61;
    border-radius:100%;
  }
  
   .overlap__two{
    position:absolute;
    top:75px;
    right:75px;
    height:150px;
    width:150px;
    background:#E78481;
    border-radius:100%;
  }
  
 .overlap__mid {
  position:absolute;
  top:110px;
  left:160px;
  width: 80px;
  height: 80px;
  background:#09042A;
  border-top-right-radius:95%;
  border-bottom-left-radius:95%;
  transform:rotate(45deg)
   	
  }

     /* 16. Eye of a Tiger*/

     .eyeOfATiger__parent{
      height:300px;
      width:400px;
      background:#0B2429;
      position: relative;
  }

  .eyeOfATiger__eye{
    position:absolute;
    top:50px;
    left:100px;
    height:200px;
    width:200px;
    border-top-left-radius:50%;
    border-bottom-right-radius:50%;
    background:#998235;
    transform:rotate(45deg)
  }
  
  .eyeOfATiger__eyeball{
    position:absolute;
    top:60px;
    left:110px;
    height:140px;
    width:140px;
    border:20px solid #0B2429;
    border-radius:100%;
    background:#F3AC3C;
  }
  
  .eyeOfATiger__pupil{
    position:absolute;
    top:125px;
    left:175px;
    height:50px;
    width:50px;
    border-radius:100%;
    background:#0B2429;
  }

    /* 17. Fidget Spinner*/

    .figetSpinner__parent{
      height:300px;
      width:400px;
      background:#09042A;
      position: relative;
  }


  .figetSpinner__up{
    width:60px;
    height:60px;
    background:#F5BB9C;
    border-radius:100%;
    position:absolute;
    top:68px;
    left:170px;
  }
  
  .figetSpinner__down{
    width:60px;
    height:60px;
    background:#F5BB9C;
    border-radius:100%;
    position:absolute;
    bottom:68px;
    left:170px;
  }
  


  .figetSpinner__left{
    width:60px;
   height:60px;
   background:#09042A;
   border-radius:100%;
   position:absolute;
   top:110px;
   left:100px;
   border:10px solid #E78481;
 }
 
 .figetSpinner__right{
    width:60px;
   height:60px;
   background:#09042A;
   border-radius:100%;
   position:absolute;
   top:110px;
   right:100px;
         border:10px solid #E78481;

 }