*{
    margin: 0px;
}

  /* 1. Simply Square */

.simplySquare__parent{
    background:#5d3a3a;
    height:300px;
    width:400px;

}
  .simplySquare__child{
    width: 200px;
    height: 200px;
    background: #b5e0ba;
  }

    /* 2. Carrom */

  .carroms__parent{
    background:#62374e;
    height:300px;
    width:400px;
    position: relative;
  }

.carroms__parent > div {
    background-color:#fdc57b;
    height:50px;
    width:50px;
    position:absolute;
    }


   .carroms__one{
     top:50px;
     left:50px;    
   }

    .carroms__two{
     top:50px;
     right:50px;
   }

   .carroms__three{
     bottom:50px;
     left:50px;
   }
   
   .carroms__four{
     bottom:50px;
     right:50px;
   }


    /* 3. Push Button */

    .pushButton__parent{
      margin:0;
      background:#6592CF;
      height:300px;
      width:400px;
  }

  .pushButton__rectangle{
      width: 300px;
      height: 150px;
      background: #243D83;
      position: relative;
      left:50px;
      top:75px;
    }
    
    .pushButton__circle{
      position:absolute;
      background:#6592CF;
      width:250px;
      height:250px;
      left:25px;
      z-index:2;
      top:-50px;
      border-radius:300px;
    }
    
    .pushButton__miniCircle{
      position:absolute;
      background:#243D83;
      width:150px;
      height:150px;
      z-index:3;
      border-radius:100px;
      left:75px;
  }
    
  .pushButton__dot{
      position:absolute;
      background:#EEB850;
      width:50px;
      height:50px;
      z-index:4;
      border-radius:100px;
      top:50px;
      left:125px;
    }


    /* 4. Ups n Downs */

    .upsDowns__parent{
      height:300px;
      width:400px;
      background:#62306D;
      position: relative;
    }

.upsDowns__parent > div {
  position:absolute;
  width: 100px;
  height: 100px;
  background: #F7EC7D;
  border-top-left-radius:50px;
  border-top-right-radius:50px;
}

    .upsDowns__top{
      left:150px;
      top:50px;
    }

    .upsDowns__bottomOne{
      left:50px;
      transform:rotate(180deg);
      top:150px
    }

    .upsDowns__bottomTwo{
      right:50px;
      transform:rotate(180deg);
      top:150px
    }

 /* 5. Acid Rain */

 .acidRain__parent{
  height:300px;
  width:400px;
  background:#0B2429;
  position: relative;
}

.acidRain__parent > div {
  height:120px;
  width:120px;
  position:absolute;
}

    .acidRain__one{
      background:#F3AC3C;
      border-radius:100px;
      top:30px;
      right:80px;
    }
    
     .acidRain__two{
      background:#998235;
      border-radius:100px;
      border-top-right-radius:0px;
      top:90px;
      right:140px;
      
    }
    
      .acidRain__three{
      background:#F3AC3C;
      border-radius:100px;
      border-top-right-radius:0px;
      top:150px;
      right:200px;
    }



 /* 6. Missing Slice */

    .missingSlice__parent{
      height:300px;
      width:400px;
      background:#E3516E;
      position: relative;
    }

    .missingSlice__parent > div {
      width:100px;
      height:100px;
      position:absolute;
    }

    .missingSlice__one{
      background:#51B5A9;
      border-top-left-radius:100px;
      top:50px;
      right:200px;
    }

    .missingSlice__two{
      background:#FADE8B;
      border-top-right-radius:100px;
      top:50px;
      right:100px;
    }

    .missingSlice__three{   
      background:#F7F3D7;
      border-bottom-left-radius:100px;
      top:150px;
      right:200px;
    }


 /* 7. Leafy Trail */

 .leafyTrail__parent{
  height:300px;
  width:400px;
  background:#0B2429;
  position: relative;
}


    .leafyTrail__parent > div {
      position:absolute;
      width: 150px;
      height: 150px;
      border-top-left-radius:100px;
      top:75px;
    }

    .leafyTrail__one {
      background: #1A4341;
      left:75px;
     }
     
     .leafyTrail__two{
      background: #998235;
      border-bottom-right-radius:100px; 
      left:125px;
       
   }
     
     .leafyTrail__three{
       background: #F3AC3C;
       border-bottom-right-radius:100px;
       left:175px;
   }

    /*8. Forking Crazy */
    .forkingCrazy__parent{
      height:300px;
      width:400px;
      background:#6592CF;
      position: relative;
    }

    
    .forkingCrazy__stem {
      position:absolute;
      width: 20px;
      height: 55px;
      bottom:0;
      left:190px;
      background: #060F55;
    }
    
    .forkingCrazy__base{
      position:absolute;
      bottom:50px;
      left:130px;
      width:140px;
      height:100px;
      border-bottom-left-radius:200px;
      border-bottom-right-radius:200px;
      background: #060F55;
    }

    .forkingCrazy__innerProng1{
          position:absolute;
      width:20px;
      height:100px;
      background:#6592CF;
      border-bottom-right-radius:30px;
      border-bottom-left-radius:30px;
      left:150px;
      top:60px;
      z-index:2;
    }
    
    .forkingCrazy__innerProng2{
          position:absolute;
      width:20px;
      height:100px;
      background:#6592CF;
      border-bottom-right-radius:30px;
      border-bottom-left-radius:30px;
      left:190px;
      top:60px;
      z-index:2;
    }
    
    .forkingCrazy__innerProng3{
      position:absolute;
      width:20px;
      height:100px;
      background:#6592CF;
      border-bottom-right-radius:30px;
      border-bottom-left-radius:30px;
      left:230px;
      top:60px;
      z-index:2;
    }
    
    .forkingCrazy__prong1{
      position:absolute;
      width:20px;
      height:100px;
      background:#060F55;
      border-top-right-radius:30px;
      border-top-left-radius:30px;
     left:130px;
      top:50px;
    }
    
    .forkingCrazy__prong2{
      position:absolute;
      width:20px;
      height:100px;
      background:#060F55;
      border-top-right-radius:30px;
      border-top-left-radius:30px;
      left:170px;
      top:50px;
    }
    
    .forkingCrazy__prong3{
      position:absolute;
      width:20px;
      height:100px;
      background:#060F55;
      border-top-right-radius:30px;
      border-top-left-radius:30px;
      left:210px;
      top:50px;
    }
    
    .forkingCrazy__prong4{
      position:absolute;
      width:20px;
      height:100px;
      background:#060F55;
      border-top-right-radius:30px;
      border-top-left-radius:30px;
      left:250px;
      top:50px;
    }

   /*9. Tesseract */

   .tesseract__parent{
    height:300px;
    width:400px;
    background:#222730;
    position: relative;
  }

  .tesseract__one{
    position:absolute;
    background:#4CAAB3;
    width:400px;
    height:150px;
    top:75px;
  }
  
  .tesseract__two{
    position:absolute;
    background:#222730;
    width:250px;
    height:250px;
    transform:rotate(45deg);
    top:25px;
    left:75px;
  }
  
  .tesseract__three{
	  position:absolute;
    width:150px;
    height:150px;
    background:#4CAAB3;
    transform: rotate(45deg);
    left:125px;
    top:75px;
  }
  
  .tesseract__four{
    position:absolute;
    left:175px;
    width:50px;
    height:50px;
    background:#393E46;
    top:125px;
    border-radius:50px;
  }


   /*10. Cloaked Spirits */

   .cloakedSpirits__parent{
    height:300px;
    width:400px;
    background:#62306D;
    position: relative;
  }

  .cloakedSpirits__top{
    background:#F7EC7D;
    width:100px;
    height:100px;
    position:absolute;
 	  bottom:100px;
    left:150px;
  }
  
  .cloakedSpirits__bottom{
    background:#F7EC7D;
    width:300px;
    height:100px;
    position:absolute;
   	bottom:0px;
    left:50px;
  }
  
  .cloakedSpirits__circleOne{
    width:100px;
    height:100px;
    border-radius:100px;
    position:absolute;
    background:#AA445F;
    bottom:50px;
    left:50px;
  }
  
  .cloakedSpirits__circleTwo{
    width:100px;
    height:100px;
    border-radius:100px;
    position:absolute;
    background:#E38F66;
    top:50px;
    left:150px;
  }
  
  
  
  .cloakedSpirits__circleThree{
    width:100px;
    height:100px;
    border-radius:100px;
    position:absolute;
    background:#AA445F;
    bottom:50px;
    right:50px;
  }
  
  .cloakedSpirits__innerCircleOne{
    width:60px;
    height:60px;
    border-radius:100px;
    position:absolute;
    background:#E38F66;
    bottom:70px;
    right:70px;
  }
  
  .cloakedSpirits__innerCircleTwo{
    width:60px;
    height:60px;
    border-radius:100px;
    position:absolute;
    background:#AA445F;
    top:70px;
    right:170px;
  }
  
  .cloakedSpirits__innerCircleThree{
    width:60px;
    height:60px;
    border-radius:100px;
    position:absolute;
    background:#E38F66;
    bottom:70px;
    left:70px;
  }

   /*11. Eye of Sauron */

   .eyeOfSauron__parent{
    height:300px;
    width:400px;
    background:#191210;
    position: relative;
  }

  .eyeOfSauron__eye {
    position:absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    border:20px solid #ECA03D;
    border-radius:100px;
    top:80px;
    left:130px;
  }
  
  .eyeOfSauron__pupil{
    position:absolute;
    width:50px;
    height: 50px;
    background: #84271C;
    border-radius:100px;
    top:125px;
    left:175px;
  }
  
  .eyeOfSauron__left{
    position:absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    border:20px solid #ECA03D;
    border-top-color:transparent;
    border-left-color:transparent;
    border-radius:100px;
    top:100px;
    left:50px;
    transform:rotate(45deg);
  }
  
  .eyeOfSauron__right{
    position:absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    border:20px solid #ECA03D;
    border-top-color:transparent;
    border-left-color:transparent;
    border-radius:100px;
    top:100px;
    right:50px;
    transform:rotate(225deg);
  }