*{
    margin: 0px;
}

  /* 1. Simply Square */

.simplySquare__parent{
    background:#5d3a3a;
    height:300px;
    width:400px;

}
  .simplySquare__child{
    width: 200px;
    height: 200px;
    background: #b5e0ba;
  }

    /* 2. Carrom */

  .carroms__parent{
    background:#62374e;
    height:300px;
    width:400px;
    position: relative;
  }

.carroms__parent > div {
    background-color:#fdc57b;
    height:50px;
    width:50px;
    position:absolute;
    }


   .carroms__one{
     top:50px;
     left:50px;    
   }

    .carroms__two{
     top:50px;
     right:50px;
   }

   .carroms__three{
     bottom:50px;
     left:50px;
   }
   
   .carroms__four{
     bottom:50px;
     right:50px;
   }


    /* 3. Push Button */

    .pushButton__parent{
      margin:0;
      background:#6592CF;
      height:300px;
      width:400px;
  }

  .pushButton__rectangle{
      width: 300px;
      height: 150px;
      background: #243D83;
      position: relative;
      left:50px;
      top:75px;
    }
    
    .pushButton__circle{
      position:absolute;
      background:#6592CF;
      width:250px;
      height:250px;
      left:25px;
      z-index:2;
      top:-50px;
      border-radius:300px;
    }
    
    .pushButton__miniCircle{
      position:absolute;
      background:#243D83;
      width:150px;
      height:150px;
      z-index:3;
      border-radius:100px;
      left:75px;
  }
    
  .pushButton__dot{
      position:absolute;
      background:#EEB850;
      width:50px;
      height:50px;
      z-index:4;
      border-radius:100px;
      top:50px;
      left:125px;
    }


    /* 4. Ups n Downs */

    .upsDowns__parent{
      height:300px;
      width:400px;
      background:#62306D;
      position: relative;
    }

.upsDowns__parent > div {
  position:absolute;
  width: 100px;
  height: 100px;
  background: #F7EC7D;
  border-top-left-radius:50px;
  border-top-right-radius:50px;
}

    .upsDowns__top{
      left:150px;
      top:50px;
    }

    .upsDowns__bottomOne{
      left:50px;
      transform:rotate(180deg);
      top:150px
    }

    .upsDowns__bottomTwo{
      right:50px;
      transform:rotate(180deg);
      top:150px
    }

 /* 5. Acid Rain */

 .acidRain__parent{
  height:300px;
  width:400px;
  background:#0B2429;
  position: relative;
}

.acidRain__parent > div {
  height:120px;
  width:120px;
  position:absolute;
}

    .acidRain__one{
      background:#F3AC3C;
      border-radius:100px;
      top:30px;
      right:80px;
    }
    
     .acidRain__two{
      background:#998235;
      border-radius:100px;
      border-top-right-radius:0px;
      top:90px;
      right:140px;
      
    }
    
      .acidRain__three{
      background:#F3AC3C;
      border-radius:100px;
      border-top-right-radius:0px;
      top:150px;
      right:200px;
    }



 /* 6. Missing Slice */

    .missingSlice__parent{
      height:300px;
      width:400px;
      background:#E3516E;
      position: relative;
    }

    .missingSlice__parent > div {
      width:100px;
      height:100px;
      position:absolute;
    }

    .missingSlice__one{
      background:#51B5A9;
      border-top-left-radius:100px;
      top:50px;
      right:200px;
    }

    .missingSlice__two{
      background:#FADE8B;
      border-top-right-radius:100px;
      top:50px;
      right:100px;
    }

    .missingSlice__three{   
      background:#F7F3D7;
      border-bottom-left-radius:100px;
      top:150px;
      right:200px;
    }