*{
    margin: 0px;
}

    /* 19. Cube*/

    .cube__parent{
      height:300px;
      width:400px;
      background:#0B2429;
      position: relative;
  }

.cube__squareThree {
  position:absolute;
  top:135px;
  left:150px;
  width: 100px;
  height: 100px;
  background: #F3AC3C;
  transform:rotate(45deg);
}
.cube__squareOne{
  position:absolute;
  top:80px;
  left:130px;
  width: 70px;
  height: 70px;
  background: #998235;
  transform:skewY(-45deg);
}

  .cube__squareTwo{
  position:absolute;
  top:80px;
  right:130px;
  width: 70px;
  height: 70px;
  background: #1A4341;
  transform:skewY(45deg);
}

    /* 20. Ticket*/
    .ticket__parent{
      height:300px;
      width:400px;
      background:#62306D;
      position: relative;
  }

.ticket__left {
  position:absolute;
  top:100px;
  left:100px;
  width: 140px;
  height: 100px;
  background: #F7EC7D;
}
.ticket__right{
  position:absolute;
  top:100px;
  left:240px;
  width: 60px;
  height: 100px;
  background: #E38F66;
}

  .ticket__corner{
  position:absolute;
  width: 35px;
  height: 35px;
  border-radius:50%;
  background: #62306D;
}

.ticket__one{
  top:85px;
  left:85px;
}

.ticket__two{
   top:180px;
  left:85px;
}

  .ticket__three{
   top:85px;
  right:85px;
}

  .ticket__four{
   top:180px;
  right:85px;
}

.ticket__midOne{
  position:absolute;
  width: 20px;
  height: 20px;
  border-radius:100%;
  background: #62306D;
  top:90px;
  right:150px;
}

  .ticket__midTwo{
  position:absolute;
  width: 20px;
  height: 20px;
  border-radius:100%;
  background: #62306D;
  bottom:90px;
  right:150px;
}